{{> header }}

{{> navbar }}

<div class="container">
<div class="row justify-content-center align-items-center">

    <div class="col-8">
        <h1>Un texto bonito — About Page</h1>
    </div>

    <div class="col-4">
        <img src="assets/img/6-B-El-caballo-árabe-es-fuerte-y-muy-inteligente-1-610x343.jpg" class="img-thumbnail" alt="caballo">
    </div>

</div>
</div>

{{> footer }}